build_image.sh
default.conf
docker-compose.yaml
Dockerfile
run.sh
logs
configs/configs.py
configs/flask_config.py
configs/wechatUA.py

my_tools/tokens
my_tools/Utils.py
my_app/dns_app.py
my_app/WXAPI.py
__pycache__/

.idea